build/

*.o
*.so
*.a
*.out

CMakeFiles/
benchmark/results/
go/inference_compare/results/
go/benchmark/results/
go/inference_compare/models/*
CMakeCache.txt
cmake_install.cmake
Makefile

compile_commands.json

*.test
*.csv

.idea/
.vscode/
